


.app {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-top: 6rem;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .map-container {
    height: 500px;
    width: 50%;
    border: 5px solid #79B791;
    border-radius: 20px;
    overflow: hidden;
  }

  .filter-container{
    height: 500px;
    width: 25%;
    background-color: #E5D8C7;
    border-radius: 10px;
  }

  .search-bar{
    width: 38%;
    position: absolute;
    background-color: aqua;
    margin-left: 15%;
    margin-top: 20px;
    padding: 1px;
    border-radius: 9px ;
    background-color: #FFC0CB;
  }

  .search-input{
    background: none;
    border: none;
    width: 98%;
    height: 50px;
  }
  
  .filters-h{
    padding-left: 10px;
  }

  .navbar{
    position: relative;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .tile {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: #FFCB77;
    border-radius: 10px;
    margin-bottom: auto;
  }

  .h2 {
    padding-left: 10px;
  }

  .b {
    font-size: 1.3em;
  }

  .hr {
    border: 1px solid rgba(66, 75, 84, .6);
  }

  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    max-height: 200px;
    overflow: hidden;
  }



  .filter-tags-display{
    position: relative;
    display: flex;
    gap: 10px;
    top: -30px;
}

.tag-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.tag-item{
    position: relative;
    border: 1px solid black;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    top: 10px;
    height: fit-content;
    width: fit-content;
    

}

.delete-button {
  border: none;
  background: none;
  margin-left: 4px;
  cursor: pointer;
}

.available-tags-list{
  display: flex;
  gap: 10px;
  padding-top: 15px;
}