.app {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    padding-top: 6rem;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  .map-container {
    height: 500px;
    width: 50%;
    border: 5px solid #79B791;
    border-radius: 20px;
    overflow: hidden;
  }

  .filter-container{
    height: 500px;
    width: 30%;
    background-color: #E5D8C7;
  }

  .search-bar{
    width: 38%;
    position: absolute;
    background-color: aqua;
    margin-left: 15%;
    margin-top: 20px;
    padding-left: 2%;
    border-radius: 9px ;
    background-color: #FFC0CB;
  }

  .navbar{
    position: relative;
  }

  



  .filter-tags-display{
    position: relative;
    display: flex;
    gap: 10px;
    top: -30px;
}

.tag-container{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.tag-item{
    position: relative;
    border: 1px solid black;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    top: 10px;
    height: fit-content;
    width: fit-content;
    

}

.delete-button {
  border: none;
  background: none;
  margin-left: 4px;
  cursor: pointer;
}

.available-tags-list{
  display: flex;
  gap: 10px;
  padding-top: 15px;
}