.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #E5D8C7;
    color: #fff;
    height: 80px;

  }
  
  .navbar-left .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #FFC0CB;
    text-decoration: none;
    letter-spacing: 3px; /* Increases the space between characters */
    word-spacing: 10px;
  }

  .navbar-left {
    background-color: #424B54;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  
  .navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-center .nav-links li {
    margin-right: 1rem;
  }
  
  .navbar-center .nav-links a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #424B54;
    text-decoration: none;
    letter-spacing: 1px; /* Increases the space between characters */
    word-spacing: 10px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  